<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="register">
        <div class="register__field">
          <input
            type="text"
            name="Username"
            class="register__input"
            placeholder="Username *"
            [(ngModel)]="userRegister.Username"
            (ngModelChange)="checkForAvailableUsername()"
          />
          <div class="error-message">
            <div *ngIf="showUsernameTakenError">Username is taken</div>
          </div>
        </div>
        <div class="register__field">
          <input
            name="Password"
            type="password"
            class="register__input"
            placeholder="Password *"
            [(ngModel)]="userRegister.Password"
            (ngModelChange)="validatePassword()"
          />
          <div class="error-message"></div>
        </div>
        <div class="register__field">
          <input
            name="ConfirmPassowrd"
            type="password"
            class="register__input"
            placeholder="Confirm Password *"
            [(ngModel)]="userRegister.ConfirmPassword"
            (ngModelChange)="validatePassword()"
          />
          <div class="error-message">
            <div *ngIf="!passwordsMatch">Passwords don't match</div>
          </div>
        </div>
        <button class="button register__submit" (click)="register()">
          <span class="button__text">Register</span>
        </button>
        <a class="login" href="/login">Login ?</a>
      </form>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
