<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login">
        <div class="login__field">
          <input
            name="InviteCode"
            type="text"
            class="login__input"
            placeholder="Invite Code"
            [(ngModel)]="inviteCode"
            (ngModelChange)="validateToken()"
          />
          <div class="error-message" *ngIf="inviteCodeInvalid">
            Invite Code is invalid
          </div>
        </div>
        <button class="button login__submit" (click)="joinBoard()">
          <span class="button__text">Join Board</span>
        </button>
        <a class="back" href="/dashboard">Back</a>
      </form>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
