<div class="board">
  <span>
    <h1 class="board-title">
      {{ board.title }}
      <span
        class="invite-code"
        *ngIf="board.inviteCode !== '' && board.owner === user.id"
        >Invite code: {{ board.inviteCode }}</span
      >
    </h1>
  </span>
  <div cdkDropListGroup>
    <div *ngFor="let column of board.columns" class="list-container-wrapper">
      <div class="list">
        <div>
          <textarea
            name="column-title{{ board.id }}"
            class="list-header"
            placeholder="Title"
            [(ngModel)]="column.title"
            (ngModelChange)="boardChanged()"
          ></textarea>
          <a
            class="options"
            type="button"
            [matMenuTriggerFor]="settingsMenu"
          ></a>
          <mat-menu #settingsMenu>
            <div class="hamburger-menu">
              <button (click)="deleteColumn(column)">Delete</button>
            </div>
          </mat-menu>
        </div>
        <div
          cdkDropList
          class="list-cards"
          [cdkDropListData]="column.tickets"
          (cdkDropListDropped)="dropTicket($event)"
        >
          <div
            class="list-card"
            *ngFor="let ticket of column.tickets"
            cdkDrag
            (click)="openDetail(column, ticket)"
          >
            <div>
              {{ ticket.title }}
            </div>
            <a
              class="options"
              type="button"
              [matMenuTriggerFor]="settingsMenu"
              (click)="preventDefault($event)"
            ></a>
            <mat-menu #settingsMenu>
              <div class="hamburger-menu">
                <button (click)="deleteTicket(column, ticket)">Delete</button>
              </div>
            </mat-menu>
            <div class="card-tags" *ngIf="ticket.tags.length >= 1">
              <mat-chip-list>
                <mat-chip
                  class="mat-chip-overview"
                  [style.background]="tag?.color ? tag.color : '#e0e0e0'"
                  *ngFor="let tag of ticket.tags"
                  selectable="false"
                ></mat-chip>
              </mat-chip-list>
            </div>
            <div class="badges">
              <div
                *ngIf="
                  ticket.completedChecks === ticket.totalChecks &&
                  ticket.totalChecks != 0
                "
              >
                <span class="icon-checklist done"></span>
                <span class="badge completed"
                  >{{ ticket.completedChecks }} / {{ ticket.totalChecks }}</span
                >
              </div>
              <div
                *ngIf="
                  ticket.completedChecks !== ticket.totalChecks &&
                  ticket.totalChecks != 0
                "
              >
                <span class="icon-checklist not-done"></span>
                <span class="badge"
                  >{{ ticket.completedChecks }} / {{ ticket.totalChecks }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="card-add" (click)="addCard(column)"><a>+ </a>Add Card</div>
      </div>
    </div>
    <span class="add-list" (click)="addColumn()" *ngIf="board.title !== ''">
      + Add another list
    </span>
  </div>
</div>
