/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3) !important;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey !important;
  outline: 1px solid slategrey !important;
}

.column {
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.ticket-wrapper .mat-dialog-container {
  background-color: #efefef;
}

.colorpicker-wrapper .mat-dialog-container {
  background-color: #d5d5d5;
}

.mat-chip.mat-standard-chip .mat-chip-remove {
  opacity: 1 !important;
}
