<div class="ticket-wrapper">
  <div class="container">
    <textarea
      class="ticket-title"
      [(ngModel)]="ticket.title"
      placeholder="Title"
    ></textarea>
    <div class="row">
      <div class="col-8">
        <editor
          apiKey="jasrh2k76bpw9xjo38sd2zk9v08tp98hbcxlj9qr2ow3a9z3"
          [init]="{
            height: 620,
            menubar: true,
            plugins: [
              'textpattern advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code wordcount'
            ],
            toolbar:
              'undo redo | formatselect | bold italic backcolor | \
          alignleft aligncenter alignright alignjustify | \
          bullist numlist outdent indent | removeformat'
          }"
          [(ngModel)]="ticket.description"
        ></editor>
        <div class="checklist">
          <h2 class="checklist-title">Checklist</h2>
          <div class="checklist-item" *ngFor="let task of ticket.tasks">
            <input
              class="checkbox"
              type="checkbox"
              [(ngModel)]="task.isDone"
              (ngModelChange)="updateCounter()"
            />
            <span (click)="checkTask(task)">{{ task.text }}</span>
            <span class="remove-icon" (click)="removeTask(task)"></span>
          </div>
          <input
            class="checkbox-input"
            type="text"
            placeholder="Text"
            [(ngModel)]="task.text"
            (keyup.enter)="addTask($event)"
            on
          />
        </div>
        <div class="actionbar">
          <button (click)="saveTicket()">Save</button>
        </div>
      </div>
      <div class="col-4">
        <div class="side-bar-wrapper">
          <div class="side-bar">
            <div class="side-bar-item">
              <div class="userlist">
                <h2>Users</h2>
                <table *ngIf="ticket.users.length > 0">
                  <tr>
                    <th>User</th>
                    <th>Remove</th>
                  </tr>
                  <tr *ngFor="let user of ticket.users">
                    <td class="username">{{ user.username }}</td>
                    <td class="action">
                      <span
                        class="remove-icon"
                        (click)="removeUser(user)"
                      ></span>
                    </td>
                  </tr>
                </table>
                <button (click)="addUser()" class="add-user">Add user</button>
              </div>
            </div>
            <div class="side-bar-item tags">
              <h2>Tags</h2>
              <div class="taglist">
                <mat-chip-list #tags>
                  <mat-chip
                    *ngFor="let tag of this.ticket.tags"
                    [style.background]="tag.color ? tag.color : '#e0e0e0'"
                    (removed)="removeTag(tag)"
                  >
                    {{ tag.title }}
                    <mat-icon
                      (click)="openColorPickerDialog(tag)"
                      class="mat-icon notranslate mat-chip-remove mat-chip-trailing-icon material-icons mat-icon-no-color"
                      >color_lense</mat-icon
                    >
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <input
                class="tags-input"
                placeholder="Add tags"
                [matChipInputFor]="tags"
                (matChipInputTokenEnd)="addTag($event)"
                [(ngModel)]="tagInput"
              />
            </div>
            <div class="side-bar-item">
              <div class="userlist">
                <h2>Pull Request</h2>
                <input
                  class="tags-input"
                  placeholder="URL"
                  [(ngModel)]="ticket.pullRequestUrl"
                />
                <a
                  *ngIf="ticket.pullRequestUrl"
                  target="_blank"
                  href="{{ ticket.pullRequestUrl }}"
                  >Open</a
                >
              </div>
            </div>
            <div class="side-bar-item">
              <div class="userlist">
                <h2>Test Run</h2>

                <input
                  class="tags-input"
                  placeholder="URL"
                  [(ngModel)]="ticket.testRunUrl"
                />
                <a
                  *ngIf="ticket.testRunUrl"
                  target="_blank"
                  href="{{ ticket.testRunUrl }}"
                  >Open</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
