.ticket-title {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 33px;
  box-shadow: none;
  border: none;
  font-size: 22px;
  font-weight: 600;
  resize: none;
  width: 98%;
  background-color: transparent;

  &:active,
  &:hover,
  &:focus {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
  }
}

.actionbar {
  margin: 20px 0px 0px 0px;

  button {
    margin-right: 10px;
    padding: 10px 15px;
    background: #efefef;
    border: none;
    border-radius: 0.5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
      -6px -6px 10px rgba(255, 255, 255, 0.5),
      6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
  }
  button:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
      -2px -2px 4px rgba(255, 255, 255, 0.4),
      2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
      inset -2px -2px 4px rgba(255, 255, 255, 0.5),
      inset 2px 2px 2px rgba(255, 255, 255, 0.075),
      inset 2px 2px 4px rgba(0, 0, 0, 0.15);
  }
}

.side-bar-wrapper {
  .side-bar {
    .side-bar-item {
      margin-bottom: 20px;
      h2 {
        margin-bottom: 5px;
        border-bottom: 1px solid gray;
      }
    }
  }
}

.divider {
  border-bottom: 1px solid gray;
  margin: 5px 0px;
}

.remove-icon {
  height: 100%;
  margin-left: 10px;
  cursor: pointer;
  &::after {
    content: "✘";
  }
}

.tags-input {
  overflow: hidden;
  border: none;
  height: 30px;
  margin-top: 20px;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  margin: 10px 0px 0px 0px;

  &:active,
  &:hover,
  &:focus {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
  }
}

.add-user {
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #6b717e;
  padding: 5px 10px;
  margin-top: 10px;
}

.checklist {
  margin-bottom: 30px;
  .checkbox-input {
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 5px 15px;
    height: 40px;
  }
  .checkbox-input:active,
  .checkbox-input:hover,
  .checkbox-input:focus {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
  }

  .checklist-title {
    margin-top: 20px;
    border-bottom: 1px solid gray;
  }

  .checklist-item {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .checkbox {
    margin: 0px 10px;
    cursor: pointer;
  }
}
.userlist {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .username {
    width: 70%;
  }

  .action {
    button {
      border: none;
      border-radius: 8px;
      color: white;
      background-color: #6b717e;
      padding: 5px 10px;
    }
  }
}

.taglist {
  margin-top: 10px;
  max-width: 100px;
}
